<header>
  <a [routerLink]="['/']">
    <h1>VentaBook PUCV</h1>
  </a>
  <nav>
      <ul>
          <li><a [routerLink]="['/']">Inicio</a></li>
          <li><a [routerLink]="['/search']"> Buscar Libros</a></li>
          <li><a href='Categorias.html'> Categorias </a> </li>
          <li><a [routerLink]="['/contacto']">Contacto</a> </li>
      </ul>

  </nav>
</header>



<!--<a [routerLink]="['/']">
    <h1>VentaBook PUCV</h1>
  </a-->
  
  <a [routerLink]="['/carrito']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Comprar</a>
  