<article>            
    <h4> Contactanos</h4>
   
    <footer id='Contactos'>
        <nav>
            <p>Sitios Web</p>
            <ul>                            
                <li><a href= 'http://www.pucv.cl'>Pontifia Universidad Catolica de Valparaiso </a></li>
                <li><a href= 'http://inf.ucv.cl/'>Escuela de Ingenieria Informatica </a></li>
            </ul>

            <p>Fono Ayudas</p>
            <ul>                            
                <li><a href= ''>09-231 231 21</a></li>
                <li><a href= ''>02-213-15</a></li>
            </ul>
        </nav>
    </footer>


</article>
<footer id='fin'>
    Copyright @2020
</footer>