<article>            
    <h2> Pago</h2>
   
    <p>
        A continuacion le daremos las datos para realizar el pago:
        <br>
        Debe realizar la transferencia a la cuenta
                24500-03
                <br>
        Del Banco Estado
    </p>

    <footer id='Redirecion'>
        Haz clic y seras redireccionado al Banco que estimes conveniente.
        <nav>
            <ul>                            
                <li><a href= 'https://www.bancoestado.cl/imagenes/comun2008/banca-en-linea-personas.html'>Banco Estado</a></li>
                <li><a href= 'https://ww3.bancochile.cl/wps/wcm/connect/Personas/Portal/Inicio'>Banco de Chile</a></li>
                <li><a href= 'https://www.bci.cl/personas'>Banco de Credito e Inversiones</a></li>
            </ul>
        </nav>
    </footer>


</article>
<footer id='fin'>
    Copyright @2020
</footer>
